<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="services">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">Bilge Hotel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/Home/Index">Anasayfa</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/Home/Room">Odalar/Rezervasyon</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Contact">İletişim</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Login/Index">Giriş Yap / Kayıt Ol</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br />

        <section id="scroll">
            <div class="text-box">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="~/image/services-cafe.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                              <div class="badge bg-primary bg-gradient rounded-pill mb-2">>></div>
                            <h5 class="display-4">Restoran ve Kafe</h5>
                            <p>Gün boyu hizmet veren restoranımızda dünya mutfaklarından seçkin lezzetler, kafemizde ise sıcak ve soğuk içecekler sunulmaktadır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="scroll">
            <div class="text-box">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="~/image/services-spa.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">>></div>
                            <h5 class="display-4">Spa ve Wellness Merkezi</h5>
                            <p>Rahatlamanız ve yenilenmeniz için sauna, masaj hizmetleri ve tam donanımlı bir spor salonu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="scroll">
            <div class="text-box">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="~/image/services-havuz.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">>></div>
                            <h5 class="display-4">Yüzme Havuzu</h5>
                            <p>Açık ve kapalı yüzme havuzlarımız, her mevsim keyifli bir deneyim sunar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="scroll">
            <div class="text-box">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="~/image/services-meet.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">>></div>
                            <h5 class="display-4">Toplantı ve Etkinlik Alanları</h5>
                            <p>Toplantılarınız ve özel etkinlikleriniz için profesyonel çözümler sunuyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="scroll">
            <div class="text-box">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="~/image/services-wifi.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">>></div>
                            <h5 class="display-4">Ücretsiz Wi-Fi</h5>
                            <p>Otelimizin her köşesinde yüksek hızlı internet erişimi bulunmaktadır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
<footer class="footer-section">
    <div class="container">
        <div class="copyright-area">
            <div class="container">
                <div class="row" ">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Bilge Hotel &copy; 2024 | Tüm hakkı saklıdır. | Emine Gödek |</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
</html>
